.menu {
	background-color: var(--black);
  flex-basis: 4.15rem;
  padding-top: .5rem;
  padding-bottom: 1rem;
  position: relative;
}

  .menu__list {
    margin: 0;
    padding: 0;
  }

    .menu__item {
      list-style-type: none;
      text-align: center;
      opacity: .57;
      width: 100%;
      margin-bottom: 1.75rem;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }

    .menu__item--top,
    .menu__item--bottom,
    .menu__item--active {
      opacity: 1;
    }

    .menu__item--bottom {
      margin-bottom: 0;
      position: absolute;
      bottom: 1rem;
    }

    .menu__item--top {
      &::after {
        content: '';
        width: 1.75rem;
        height: 1px;
        background-color: rgba(white, .57);
        display: block;
        margin-top: 1.25rem;
        margin-left: auto;
        margin-right: auto;
      }
    }

      .menu__link {
        font-size: .6rem;
        letter-spacing: .025rem;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        font-weight: bold;
        display: block;
      }

        .menu__icon {
          display: block;
          margin: 0 auto;
          height: 2.8rem;
        }

        .menu__icon--active {
          filter: url(#menu-item__icon-filter);
        }
