.soundbite-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

  .soundbite-list__item {
    display: flex;
    border-top: 1px solid var(--dark-white);
    font-size: (13 / 15) + rem;
    line-height: (29 / 15) + rem;
    height: (29 / 15) + rem;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-left: .25rem;
    padding-right: .25rem;

    &:last-child {
      border-bottom: 1px solid var(--dark-white);
    }

    &:hover .soundbite-list__player {
      visibility: visible;
    }
  }

  .soundbite-list__item--active {
    border-top: 1px solid var(--blue);
    background-color: var(--soft-white);

    & + .soundbite-list__item {
      border-top: 1px solid var(--blue);
    }

    &:last-child {
      border-bottom: 1px solid var(--blue);
    }
  }

    .soundbite-list__player {
      flex-grow: 0;
      margin-right: .5rem;
      visibility: hidden;
      margin-top: 2px;
    }

    .soundbite-list__name {
      flex-grow: 1;
    }

    .soundbite-list__time {
      font-size: (9 / 15) + rem;
      color: var(--dark-grey);
    }
